<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/Css/login.css}" />

  <title>Login Form</title>
</head>
<body>
<div class="container">
  <div class="form">
    <h2>Login</h2>
    <form th:action="@{/login}" method="post" class="login-form">
      <div class="formGroup">
        <input type="text" name="username" placeholder="Username" required autocomplete="off" />

      </div>
      <div class="formGroup">
        <input type="password" id="password" placeholder="Password" required autocomplete="off" th:name="password">
      </div>
      <div class="formGroup">
        <button type="submit" class="btn2">LOGIN</button>
        <p th:if="${param.error}" class="error-message">Invalid email or password</p>
      </div>
    </form>
    <div class="additional-links">
      <span>Don't have an account?</span> <a  th:href="@{/signup}">Sign up</a> <!-- Add the link for sign up -->
    </div>
  </div>
</div>
</body>
</html>
